* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
:root {
  --background-color: #2f303a;
  --color-text: #757575;
  --Selection-color: #2196f3;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --text-color-form: rgba(255, 255, 255, 0.6);
  --border-input: rgba(33, 33, 33, 0.2);
  --text-button: #ffffff;
}

/* ######### ######## ###### header ###### ######## ######### */
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 24px 27px 24px 15px;
}
.go-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.go-links li:last-child {
  margin-left: 46px;
}
.go-links li:nth-child(2) {
  margin-left: 46px;
}

.contact-links {
  display: flex;
}
.contact-link:last-child {
  margin-left: 30px;
}
.contact-link:first-child {
  margin-left: 276px;
}

.logo-text-first {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 145px;
}

.accent {
  color: var(--Selection-color);
}
.go-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  transition: color 250ms var(--cubic-bezier);
}
.go-link:hover,
.go-link:focus {
  color: var(--Selection-color);
}

.contact-link {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-links {
  display: flex;
  align-items: center;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--cubic-bezier);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--Selection-color);
}
.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--Selection-color);
}
.contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms var(--cubic-bezier);
}
/* pages current*/
.current {
  position: relative;
  color: var(--Selection-color);
}
.current::after {
  position: absolute;
  display: block;
  content: "";
  border-radius: 2px;
  background: var(--Selection-color);

  width: 100%;
  height: 4px;
  bottom: 0;
}
/* ^^^^^^^^^^^^^^^^^^^^^ header ^^^^^^^^^^^^^^^^^^^^^*/

/* ######### ######## ###### main ###### ######## ######### */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url("../images/img10.jpg");
  background-size: cover;
  background-color: var(--background-color);
}
.hero-headline {
  padding-top: 94px;
  padding-bottom: 94px;
}

.head-btn {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.headline {
  color: var(--text-button);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  padding-top: 99px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  width: 696px;
}

.btn-service {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 41px 10px 41px;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}
.btn {
  padding-bottom: 113px;
}
.btn-service:hover,
.btn-service:focus {
  background-color: var(--Selection-color);
  color: #ffffff;
}
/* ######## ######## section 2class="info" ######## ######## */

.advantages {
  display: flex;
  max-width: 1170;

  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  padding-top: 94px;
}
.box-icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.info h4 {
  margin: 0;
  padding-bottom: 10px;
}
.info {
  max-width: 270px;
  margin: 0;
  height: 251px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin: 0;
}
/* ######## ######## section 3 title ######## ######## */
.area-activity {
  padding-bottom: 94px;
  padding-top: 94px;
}
.img-list {
  display: flex;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
/* ######## etykiety na zdjeciach sekcja 3 title ##########*/
.description-img {
  position: relative;
}
.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ######## ######## section 4 title-card ######## ######## */
.section-team {
  background-color: #f5f4fa;
}
.team {
  padding-bottom: 94px;
  padding-top: 94px;
}

.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  width: 270px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

/*social-icon*/
ul {
  list-style: none;
}
.icon-social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 32px 30px 32px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background: var(--Selection-color);
}

/* ######### ######## ###### section icon client ###### ######## ######### */
.title-client {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-top: 94px;
}
.client-list {
  display: flex;
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0 15px 94px 15px;
  justify-content: space-between;
}
.icon-client {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-bezier);
}
.icon-logo {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);
}
.icon-client:hover,
.icon-client:hover .icon-logo {
  border-color: var(--Selection-color);
  fill: var(--Selection-color);
}

.icon-logo {
  margin: 16px 32px 16px 32px;
}
/* ######### ######## ###### portfolio ###### ######## ######### */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.switch-elements {
  display: flex;
  list-style: none;
  margin: 0;

  padding-left: 310px;
  padding-right: 318px;
  justify-content: space-between;
}
.switch-elements li:first-child {
  width: 121px;
}
.switch-elements li:last-child {
  width: 121px;
}
.switch-elements li:nth-child(2) {
  width: 93px;
}
.switch-elements li:nth-child(3n) {
  width: 114px;
}
.switch-elements li:nth-last-child(2) {
  width: 91px;
}
.switch-element {
  border-radius: 4px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.switch-element:hover,
.switch-element:focus {
  color: #ffffff;
  background-color: var(--Selection-color);
  border-color: var(--Selection-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 34px;
  margin-bottom: 0px;
}
.card-set > li {
  transition: box-shadow 250ms var(--cubic-bezier);
}
.card-set > li:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);
}
img {
  display: block;
  max-width: 100%;
}

.bottom-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}
.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.type-of-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
  margin-bottom: 0;
}
/* ######### overlay card portfolio ##########*/
.card-img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
li:hover .overlay {
  transform: translatey(0);
}

/* ######### ######## ###### footer ###### ######## ######### */
footer {
  background-color: var(--background-color);
}
.foot-link {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}
.foot-contain {
  padding: 60px 0;
}
address > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-link-map {
  font-size: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-bezier);
}
.contact-link-map:hover,
.contact-link-map:focus {
  color: var(--Selection-color);
}
.contact-email {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic-bezier);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--Selection-color);
}

.contact-nr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
  transition: color 250ms var(--cubic-bezier);
}

.contact-nr:hover,
.contact-nr:focus .box-icon-foot:hover {
  color: var(--Selection-color);
}

.logo-text-bottom {
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  background-color: var(--background-color);
}
.link-contact {
  margin-bottom: 9px;
  margin-top: 20px;
}
.email-contact {
  margin-bottom: 9px;
}
address {
  font-style: normal;
}
/* ########## footer social icon #########*/
.list-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: auto;
}
.title-icon-footer {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.icon-social-footer {
  margin-left: 70px;
}
.foot-icon {
  fill: #ffffff;
  margin: 12px;
}
.box-icon-foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon-foot {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background: var(--Selection-color);
}
/* end footer */
/* ########## backdrop ########## */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.modal {
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  transition: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ########## form footer ########## */
.form-footer {
  display: flex;
}
.btn-form-foot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Selection-color);
  border: none;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}
.btn-form-foot:hover,
.btn-form-foot:focus {
  background-color: var(--Selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-form-footer {
  margin-left: 24px;
}
.form-foot-text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.email-form-footer {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--text-color-form);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: var(--background-color);
}
.form {
  margin-left: 78px;
}
/* ########## form modal window ##########*/
.mod-label {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}
.icon-input {
  position: absolute;
  transition: fill 250ms var(--cubic-bezier);
  left: 10px;
  top: 11px;
}

.input-box:focus + .icon-input {
  fill: var(--Selection-color);
}
.input-box:focus {
  border-color: var(--Selection-color);
  outline: none;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-box {
  width: 448px;
  height: 40px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  transition: border-color 250ms var(--cubic-bezier);
}
.label-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.text-textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms var(--cubic-bezier);
}
.text-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-textarea:focus {
  border-color: var(--Selection-color);
  outline: none;
}
/* checkbox ?*/
.checkbox_hide {
  visibility: hidden;
}

.check_box {
  position: relative;
  cursor: pointer;
}
.check_box:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 3px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox_hide:checked + .check_box:after {
  content: "";
  position: absolute;
  left: px;
  top: 3px;
  width: 16px;
  height: 15px;
  background-color: var(--Selection-color);
  background-image: url(../images/checkicon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
}
.form_rules {
  display: flex;
}
.rules_form {
  margin-left: 25px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 30px;
}
.link_modal {
  text-decoration-line: underline;
}
.btn_form {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  background: var(--Selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}
.btn_form:hover,
.btn_form:focus {
  background-color: var(--Selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
